@import "tailwindcss";

/* purple */
/* @theme {
  --color-accent: #9333ea;
  --color-accent-light: #c084fc;
  --color-accent-dark: #6366F1;

  --color-bg-dark: #0b0f1a;
  --color-card-dark: #111827;

  --color-text-main: #e5e7eb;
  --color-text-muted: #9ca3af;

  --color-border: #1f2937;
} */
/* blue */
@theme {
  --color-accent: #2563eb;
  --color-accent-light: #60a5fa;
  --color-accent-dark: #1d4ed8;

  --color-bg-dark: #0a0e1a;
  --color-card-dark: #131a2b;
  --color-card: #1a2338;

  --color-text-main: #e2e8f0;
  --color-text-muted: #8a93a6;

  --color-border: #2a3652;
}

* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

html,
body {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));